<!-- SECTION 4: Contact-->
<section id="contact" class= "contact-section">
    <h2>Contact</h2>

    <div class="group">

        <form
          action="https://formspree.io/f/xkgrlvlo"
          method="POST"
        >
          <label>
            Email:
            <input type="email" name="email">
          </label>
          <label>
            Message:
            <textarea name="message"></textarea>
          </label>
          <!-- your other form fields go here -->
          <button type="submit">Send</button>
        </form>
        
    </div>
  </section>
